@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  @apply bg-neutral-900;
  padding: 1rem;
  margin: auto;
  overflow-x: hidden;
}

/* buttons */
button {
  padding: 0.5em;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}

canvas {
  border: 2px solid white;
  border-radius: 30px;
  overflow: hidden;
}

input[type='range'] {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: rgb(55, 65, 81);
  border-radius: 0.5rem;
}

h1{
  text-align: left;
}